@model Tsa.CodingChallenge.Submissions.Mvc.Models.ProblemViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    @Html.Raw(Model.Description)
</div>
<div>
    @Html.ActionLink("Submit Solution", "Submission", new { id = Url.ActionContext.RouteData.Values["id"] })
</div>