@model Tsa.CodingChallenge.Submissions.Mvc.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<hr />
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form asp-action="Login" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Identity"></label>
                <input asp-for="Identity" class="form-control" />
                <span asp-validation-for="Identity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <p>
                Don't have an account?<br />
                <a asp-controller="Account" asp-action="Registration">Register your team</a>
            </p>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>