@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-1">&nbsp;</div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-12">
        <img src="~/Content/images/tsaLogo.png" alt="Technology Students Association" width="550" style="display: block; margin-left: auto; margin-right: auto" />
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Registration</h2>
        <p>In order to view the problems and submit solutions to them, your team must first register to the use the application. Click the link below to begin the registration process. After a successful registration, you will be able to login.</p>
        @Html.ActionLink("Register Team", "Registration", "Account")
    </div>
    <div class="col-md-3">
        <h2>Coding Problems</h2>
        <p>After you have successfully registered and logged in, you will be able to view all of the coding problems here on the site. Each problem will provide a sample of data that will be used to validate your solution. Keep in mind that not all of the sample data will be vissible</p>
        @Html.ActionLink("Coding Problems", "Index", "Problems")
    </div>
    <div class="col-md-3">
        <h2>Submitting Solutions</h2>
        <p><!--TODO: Write up on submitting solutions--></p>
    </div>
    <div class="col-md-3">
        <h2>Help</h2>
        <p><!--TODO: Write up on help--></p>
    </div>
</div>