
@{
    ViewData["Title"] = "Rules";
}

<h2>Coding</h2>

<h3>Overview</h3>
<p>Participants respond to an annual coding-related design challenge by developing a software program that will accurately address an on-site problem in a specified, limited amount of time. Specific elements to be used, such as the programming language, operating system, or application programming interface (API), will be released on-site. Completed solutions will be objectively measured to determine the best and most effective solution for the stated problem.</p>

<h3>Eligibility</h3>
<p>Participants are limited to one (1) individual, or one (1) team of two to three (2-3) members per chapter, one (1) entry per individual or team.</p>

<h3>Time Limits</h3>
<p>The allotted time for the design and construction of the solution is two (2) hours.</p>
<p>Semifinalists will participate in a LEAP interview that will last a maximum of five (5) minutes.</p>

<h3>LEAP Leadership Resume/Interview</h3>
<p>A Team LEAP Leadership Resume is required for this event and must be submitted when participants arrive at the event at the designated event time. Semifinalists will respond to interview questions related to their submitted LEAP Resume for a maximum of five (5) minutes. A team competing in this event will use the Team LEAP Leadership Resume template; an individual competing in this event will use the Individual LEAP Leadership Resume template.</p>

<h3>Attire</h3>
<p>Competition attire, as described in the National TSA Dress Code section of this guide, is required for this event.</p>

<h3>Procedure</h3>
<ol type="A">
    <li>Participants report to the event area at the time and place stated in the conference program. Participants must submit a LEAP Leadership Resume prior to receiving the onsite problem.</li>
    <li>The problem, evaluation criteria, and materials are distributed.</li>
    <li>Participants are required to provide their own computer hardware and software.</li>
    <li>Teams have two (2) hours to design and present a solution.</li>
    <li>Each solution is tested and presented to the judges as soon as possible after the coding phase is completed.</li>
    <li>Evaluators independently assess the entries. Semifinalists will be determined and posted by the CRC.</li>
    <li>Semifinalist teams will report at the time and place stated in the conference program to sign up for a semifinalist LEAP interview.</li>
    <li>No more than three (3) representatives per team report for the semifinalist LEAP interview. The interview will last a maximum of five (5) minutes.</li>
</ol>

<h3>Regulations</h3>
<ol type="A">
    <li>All work must be completed in the event area during the time specified for the event.</li>
    <li>Teams must bring one (1) laptop or desktop computer with charging cables, one (1) monitor, one (1) power strip, and pencils and paper.</li>
    <li>Students will not have access to the Internet during the event. Students must have all software development tools needed for the competition downloaded and accessible on their computers.</li>
    <li>All solutions must be tested, demonstrated, and presented by participants in front of the judges.</li>
    <li>Participants in this event should concentrate their efforts prior to the competition on researching, understanding, and practicing all aspects of the coding process, software development, operating systems, programming languages, etc.</li>
    <li>LEAP Leadership Resume (see Forms Appendix or TSA website)/Interview — Teams document, in the LEAP leadership resume, the leadership skills that the team has developed and demonstrated while working on this event. Semifinalists will respond to questions about the content of their resume as part of their LEAP interview. The LEAP Leadership Resume/Interview guidelines and other resources can be found on the TSA website. A team competing in this event will use the Team LEAP Leadership Resume template; an individual competing in this event will use the Individual LEAP Leadership Resume template.</li>
</ol>

<h3>Evaluation</h3>
<p>Solutions are evaluated objectively. A finite measure will be defined in the problem and will be used to determine the best solution. Second-best attempts or other objective criteria are used to break ties when possible. Only as a last resort will subjective criteria, such as originality, be used to evaluate solutions. The LEAP requirements will also be evaluated. Please refer to the official rating form for more information.</p>

<h3>STEM Integration</h3>
<p>Depending upon the subject of the problem, this event may align to one or more STEM areas. Please refer to the STEM Integration section of this guide for more information.</p>

<h3>TSA and Careers</h3>
<p>This competition connects to one or more of the career areas featured in the TSA AND CAREERS section of this guide. Use The Career Clusters chart and the TSA Competitions and The Career Clusters grid as resources for information about careers.</p>

<h3>Careers Related to this Event</h3>
<ul>
    <li>Computer software engineer</li>
    <li>Mathematician</li>
</ul>